<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ssm.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="cn.ssm.model.Admin">

    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="admin_user" jdbcType="VARCHAR" property="adminUser" />
    <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
      <result column="title" jdbcType="VARCHAR" property="title" />
      <result column="textarea" jdbcType="VARCHAR" property="textarea" />
  </resultMap>

  <update id="updateAdmin" parameterType="cn.ssm.model.Admin">
  UPDATE ssm_admin

  SET
   admin_user = #{adminUser},

  admin_password = #{adminPassword},


  WHERE
  id = #{id};
</update>

  <select id="loginAdmin" parameterType="cn.ssm.model.Admin" resultMap="BaseResultMap">
 SELECT
 id,admin_user , admin_password
  FROM
  ssm_admin
  WHERE
  admin_user = #{adminUser} AND admin_password = #{adminPassword}
  </select>

    <update id="updateEditor" parameterType="java.lang.String">
        UPDATE
        ssm_admin
        <set>
            <if test="title != null"> title = #{title} </if>  ,
            <if test="textarea != null"> textarea = #{textarea} </if>

        </set>
        WHERE id = #{id}

</update>

    <select id="showBoard" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
       title, textarea
       FROM
        ssm_admin
        WHERE
      id = #{id}
    </select>

    <!-- 分页SQL语句 -->
    <select id="selectTitleByPage" resultMap="BaseResultMap"> select id ,title from ssm_admin limit #{startPos},#{pageSize} </select>

    <!-- 取得记录的总数 -->
    <select id="getTitleCount" resultType="int"> SELECT COUNT(*) FROM ssm_admin </select>

</mapper>