<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ssm.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.ssm.model.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
  </resultMap>

  <!--用户对招聘公司的一对多resultMap-->
  <resultMap type="cn.ssm.model.User" id="userMapper" extends="BaseResultMap">
    <collection property="recruits" javaType="cn.ssm.model.Recruit">
      <id property="id" jdbcType="BIGINT" column="rec_id" javaType="java.lang.Long"/>
      <result property="name" jdbcType="VARCHAR" column="name" javaType="java.lang.String"/>
      <result property="industry" jdbcType="VARCHAR" column="industry" javaType="java.lang.String"/>
      <result property="nature" jdbcType="VARCHAR" column="nature" javaType="java.lang.String"/>
      <result property="companySize" jdbcType="VARCHAR" column="company_size" javaType="java.lang.String"/>
      <result property="companyProfile" jdbcType="VARCHAR" column="company_profile" javaType="java.lang.String"/>
      <result property="contacts" jdbcType="VARCHAR" column="contacts" javaType="java.lang.String"/>
      <result property="recruitmentTelephone" jdbcType="VARCHAR" column="recruitment_telephone" javaType="java.lang.String"/>
      <result property="companyAddress" jdbcType="VARCHAR" column="company_address" javaType="java.lang.String"/>
      <result property="uId" jdbcType="VARCHAR" column="u_id" javaType="java.lang.String"/>
    </collection>
  </resultMap>



  <select id="login" resultMap="BaseResultMap" parameterType="cn.ssm.model.User"> SELECT id,login_name , password ,email , gender , name ,phone_number , age FROM ssm_user WHERE login_name = #{loginName} and password = #{password} </select>

  <select id="findUser" resultMap="userMapper"> SELECT user.id user.name, user.gender, user.email, user.phoneNumber AS user.phone_number, user.age, recruit.id, recruit.name, recruit.industry, recruit.nature, recruit.companySize AS recruit.conpany_size, recruit.companyProfile AS recruit.companty_profile, recruit.contacts AS recruit.contacts, recruit.recruitmentTelephone AS recruit.recruitment_telephone, recruit.companyAddress AS recruit.company_address, recruit.uId AS recruit.u_id, FROM ssm_recruit AS recruit, ssm_user AS user, WHERE recruit.uId = user.id </select>

  <select id="confirmPassword" resultMap="BaseResultMap" parameterType="cn.ssm.model.User"> SELECT id, password FROM ssm_user WHERE id =#{id} </select>

  <update id="updatePassword" parameterType="java.lang.String">
  UPDATE ssm_user

  <set>

  <if test="newPassword != null"> password = #{newPassword} </if>

</set>
  WHERE id = #{id}
</update>


  <update id="updateUser" parameterType="cn.ssm.model.User">
  UPDATE ssm_user
  SET
 email = #{email},
  phone_number = #{phoneNumber},
  name = #{name},
  age = #{age}

  WHERE id = #{id};
</update>

  <!-- 分页SQL语句 -->
  <select id="selectUserByPage" resultMap="BaseResultMap"> select * from ssm_user limit #{startPos},#{pageSize} </select>

  <!-- 取得记录的总数 -->
  <select id="getUserCount" resultType="int"> SELECT COUNT(*) FROM ssm_user </select>

  <delete id ="deletes" parameterType = "java.lang.Long">

       DELETE from ssm_recruit where tId in
    <foreach collection="list" item = "user" open="(" separator="," close=")">#{ user.id}

    </foreach>
  </delete>

</mapper>