@charset "utf-8";
body{font:12px/20px Arial,"宋体",Helvetica, sans-serif,Verdana; margin:0; padding:0; color:#666; }
table{border-collapse:collapse; border-spacing:0; empty-cells:show; }
th, td { border-collapse:collapse; font-size:12px; }
a{blr:expression(this.onFocus=this.blur())} /*for IE*/
a{outline:none;} /*for Firefox*/
a{text-decoration:none; color:#666;}
a:hover{ color:#0085d0;}
em{ font-style:normal;}
img{ border:0; }

input[type="button"]:not(.buttonStyle),input[type="submit"]:not(.buttonStyle){cursor:pointer; border:0; text-align:center; overflow:visible;}
div,p,img,ul,li,form,input,label,span,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
ol,ul,li{list-style-type:none;}
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner{   border:none;padding:0; } 
input{outline:none; }
input[type="text"]{text-indent:3px;}
/*-----------------公用样式------------------------------*/
.width{ width:1030px; margin:0 auto; }
.fl{ float:left;}
.fr{ float:right;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.yahei{ font-family:"微软雅黑";}
.tr{ text-align:right;}
.gray9,.gray9 a{ color:#999;}
.black,.black a{ color:#000;}
.tc{ text-align:center;}
.zhangkai{ clear: both; font-size:0; height:0; display:block; }
.white,.white a{ color:#fff;}
.clearfix:after{ content:"."; display:block; height: 0;  visibility: hidden;}
.clearfix{ display: inline-block;}
.zoom{ zoom:1; overflow:hidden;}
.red,.red a{ color:red;}
.green,.green a{ color:#8fc320;}
.blue,.blue a{ color:#0085d0;}
.bold{ font-weight:bold;}

/*  "|" 和 操作 按钮置灰  */
.toGray{ color:#d1d1d1;}

/*-----------------首页------------------------------*/
#headTips{ background:#f1f1f1; border-bottom:solid 1px #e0e0e0; height:30px; line-height:30px;}
#head{ padding:30px 0;}
#head h2{ font-size:14px; text-decoration:underline; line-height:42px; font-weight:normal;}
/*-----------------首页banner------------------------------*/
/* css 重置 */


/*本例css*/
.bntpic { width: 740px; height: 350px;  position: relative; overflow:hidden; margin-bottom: 15px; float: left;}

/*数字按钮样式*/
.bntpic .num {  height: 25px; position: absolute; bottom:8px; left: 330px; zoom:1; z-index:3 }
.bntpic .num li { width: 20px; height: 20px; border:solid 1px #0085D0; line-height: 20px; text-align: center; font-weight: 400; font-family: "微软雅黑", Arial; color: #999; background: #f5f5f5; margin-right: 10px; border-radius:50%; cursor:pointer; float: left; }
.bntpic .num li.on { background: #0085D0; border:solid 1px #fff; color:#fff; } /*当前项*/

/*上一个  下一个*/
.bntpic .prev,
.bntpic .next { display: none; width: 40px; height: 100px; background: url(../images/btn.png) no-repeat; position: absolute; top: 120px;}
.bntpic .prev { left: 0; }
.bntpic .next { right: 0; background-position: right }

/*-----------------banner结束------------------------------*/
#loginBox,.yonghuRightBox{ border:solid 1px #dfdfdf; width:240px;   padding:0 18px;}
#loginBox{height:348px; margin-left:12px;}
#loginBox h3{ color:#8ec31f; padding-top:15px;}
#loginBox li{ border:solid 1px #dfdfdf; width:238px; height:39px; margin-top:28px;}
#loginBox li span img{ padding:11px 10px 12px;  border-right:solid 1px #dfdfdf; float:left;}
#loginBox li input{ border:0; width:184px; height:39px; line-height:39px; margin:0 8px; float:left;}
#loginBox p{ padding-top:13px;zoom:1; overflow:hidden;}
#loginBox .loginBtn{ width:110px; height:36px; line-height:36px; background:#0085d0; border-radius:5px; border:0;}
#loginBox .loginBtn:hover{ background:#00669f;}
#iContetBox{ border-left:1px solid #dfdfdf; border-top:solid 1px #dfdfdf; width:1029px; margin-top:14px;}
#iContetBoxLeft{ padding:1px; border-right:1px solid #dfdfdf; width:261px; border-bottom:1px solid #dfdfdf; }
#iContetBoxLeft dl{background:#fff url(../images/bg.gif) repeat-x bottom; height:299px;  width:261px;}
#iContetBoxLeft dt{ padding:20px 20px 0;}
#iContetBoxLeft dd{ padding:10px 20px 0; height:172px;}
#iContetBox ul{ width:765px; float:left;}
#iContetBox li{ border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; width:190px; height:150px; float:left; background-position:170px 68px; background-repeat:no-repeat; padding:0 32px 0 32px; word-break:break-all; }
#iContetBox li h3{ font-size:16px; padding:20px 0 5px; font-weight:normal;}
#iContetBox li p{ padding-right:55px; line-height:16px;}
#iContetBox li.icon1{ background-image:url(../images/icon4.gif); }
#iContetBox li.icon2{ background-image:url(../images/icon5.gif);}
#iContetBox li.icon3{ background-image:url(../images/icon6.gif);}
#iContetBox li.icon4{ background-image:url(../images/icon7.gif);}
#iContetBox li.icon5{ background-image:url(../images/icon8.gif);}
#iContetBox li.icon6{ background-image:url(../images/icon9.gif);}
#footer{ padding:15px 0; line-height:24px; }
/*-----------------注册------------------------------*/
#registerHead{ border-bottom:solid 1px #dfdfdf; padding:30px 0; background:#fff;}
#registerBox{ border:solid 1px #0085d0; width:964px; margin-top:25px; min-height:340px; height:auto !important; background:#fff; padding:32px 32px 70px;}
#registerTitle{ width:964px; border-bottom:solid 1px #0085d0; height:45px;line-height:45px; }
#registerTitle li{ float:left; height:45px; padding:0 18px; margin-right:10px; background:#efefef; cursor:pointer; font-size:14px;}
#registerTitle li.hover{ background:#0085d0; color:#fff;}
.registerList{ padding:30px 0 0 170px;}
.registerList dl{ padding-top:25px; zoom:1; overflow: hidden; line-height:36px;}
.registerList dt{ float:left; width:180px; text-align:right; font-size:14px; color:#666;}
.registerList dd{ float:left; padding-left:10px;}
.registerList dd input[type="text"],.registerList dd input[type="password"]{ border:solid 1px #d0d0d0; height:34px; line-height:34px; width:268px; text-indent:3px; color:#999;}
/* .registerList dd input[type="text"].TxtRedBox{ border:solid 1px red;} */
.registerList dd input[type="checkbox"]{ vertical-align:middle; margin-right:3px;}
.registerList dd img{ vertical-align:middle; margin-right:3px;}
.registerBtn,.registerBtn2{   width:95px; border-radius:5px; height:40px; line-height:40px; }
.registerBtn{background:#8fc320;}
.registerBtn:hover{ background:#73a508;}
.registerBtn2{ background:#a7a7a7;}
.registerBtn2:hover{ background:#7d7d7d;}
/*-----------------邮箱验证------------------------------*/
#mailYz{ border:solid 1px #e0e0e0; width:964px;  min-height:340px; height:auto !important; background:#fff; padding:10px 32px 70px;}

#mailYz h3{font-size:16px; height:50px; line-height:50px; border-bottom:solid 1px #dfdfdf;}

#mailContetn{ width:644px; margin:50px auto 0px;}
#mailContetn li{ overflow:hidden; zoom:1; line-height:28px; padding:40px 0;}
#mailContetn li h4{ font-size:16px; font-weight:bold;}
#mailContetn li img{ float:left; padding-right:25px;}
/*-----------------个人登录首页------------------------------*/
#iSerach{ border:solid 1px #dfdfdf; width:356px; height:40px;}
#iSerach input[type="text"]{ width:315px; height:40px; line-height:40px; border:0; border-right:solid 1px #dfdfdf; float:left;}
#iSerach img{ padding:9px 0 0 9px; float:left;}
#navBg{ background:#e4e4e4; height:50px;}
#navBg span{ line-height:50px;}
#navBg ul{ border-right:solid 1px #fff; float:left; position:relative;z-index:99; height:56px; }
#navBg li{ float:left;  display:block;     padding-top:2px;   border-left:solid 1px #fff; }
#navBg li a{ display:block; padding:0 26px;  color:#333; border-top:solid 2px #e4e4e4; line-height:46px; margin:0 1px; }
#navBg li a:hover{color:#8ec31f; background:#fff; border-top:solid 2px #fff;  display: block; }
#navBg li.on a{ border-top:solid 2px #0085d0;}
#navBg li.on a:hover{ color:#8ec31f;  border-top:solid 2px #fff; display:block; line-height:46px;}
#navBg li.menu-active a,#navBg li.menu-active a:hover{background:#fff url(../images/layertop.gif) no-repeat center 48px;  border-top:solid 2px #fff;  display:block; height:54px; }

#navBg li.imgNone{ height:48px; overflow:hidden;}
#navBg li.menu-active a{color:#8ec31f;  }

#navBg li .erjiMenu {font-weight: normal;left: 0;  padding: 3px 0 0 25px; position: absolute; top:55px; z-index:-1; width:1003px; border:solid 1px #e1e1e1; background:#fff;  }
#navBg li .erjiMenu ul{ height:44px;}
#navBg li .erjiMenu li{ padding-right:90px;}
#navBg li .erjiMenu li a,#navBg li .erjiMenu li a:hover{ padding:0; background:#fff; float:left; float:left;  height:38px; line-height:38px; background:#fff; margin:0; border:0;}
#navBg li .erjiMenu li a{color:#7f7f7f; }
#navBg li .erjiMenu li a:hover{ color:#0085d0;}
/*-----------------普通用户登录------------------------------*/
#yonghuLeft{ border:solid 1px #dfdfdf; width:690px; padding:15px 24px 25px; margin-top:8px;}
#yonghuRight{ margin:8px 0 0 12px; width:278px;}
.yonghuRightBox{ padding:10px 18px 20px;}
.yonghuRightBox h3,#yonghuLeft h3{ font-size:14px; border-bottom:solid 1px #dfdfdf; line-height:35px;}
#yonghuList{ padding:10px 0;}
#yonghuList li{ border-bottom:dashed 1px #dfdfdf; line-height:36px; width:240px; overflow:hidden; white-space:nowrap;text-overflow:ellipsis; -o-text-overflow:ellipsis;}
#yonghuList li span{ font-family:"宋体";}
#yonghuXiaoxi{ padding:15px 0 10px;}
#yonghuXiaoxi span{ padding-left:5px;}
#yonghuXiaoxi img{ vertical-align:middle;}
#yonghuLeft h3{ line-height:28px;}
.yonghuLie{ padding:15px 0 27px;}
.mt8{ margin-top:8px;}
.yonghuLie span{ padding-right:30px;}
.table{ border:solid 1px #dfdfdf; font-family:"宋体"; }
.table th{border:solid 1px #dfdfdf; font-weight:normal; background:#f8f8f8; padding:6px 5px; color:#666;}
.table td{border:solid 1px #dfdfdf; padding:8px 5px; text-align:center; }
.table span{ padding-right:0;}
.tableBtn{ padding:0 7px;height:22px;  border-radius:5px; background:#8ec31f; display:inline-block;}
.tableBtn:hover{ background:#a8d93f;}
/*-----------------工具卡_资源------------------------------*/
#gongjukaBg{ background:#fff url(../images/menuBg.gif) repeat-y;  margin-top:18px;}
#gongjukaLeft{ width:247px; padding:0 21px 50px 0;}
#gongjukaLeft h2{ height:60px; width:247px; background:#0085d0; line-height:60px; text-align:center; font-size:18px; font-weight:normal;}
#gongjukaLeft dl{ padding-right:1px; border-bottom:solid 1px #dfdfdf;}
#gongjukaLeft dt{ background:url(../images/left.png) no-repeat 217px center; font-size:16px;  height:20px; line-height:20px; padding:13px 0 13px 25px;}
#gongjukaLeft dt.hover,#gongjukaLeft dt.hover a{ background-color:#fff; color:#0085d0;}
#gongjukaLeft dt.Bg2{background:url(../images/bottom.png) no-repeat 217px center;}
#gongjukaLeft dt span{ width:30px; display:inline-block;}
#gongjukaLeft dt span img{ vertical-align:middle;}
#gongjukaLeft dd{ line-height:35px; font-size:14px;}
#gongjukaLeft dd a{display:block; padding-left:76px;}
#gongjukaLeft dd.hover{ background:#fff; color:#0085d0;}
#gongjukaLeft dd.hover a{ color:#0085d0;}
#gongjukaRight{ min-height:665px; height:auto !important; border:solid 1px #dfdfdf; width:760px;}
#gjkTitle{ height:45px; line-height:45px; background:#f7f7f7; border-bottom:solid 1px #dfdfdf; padding:0 18px;}
#gjkTitle font{ padding:0 5px; color:#d9d9d9;}
.gjContent{ padding:15px;}
#gjSearch{ height:30px; line-height:30px; padding:5px 0;margin-bottom:8px; }
#gjSearch input[type="button"]{ vertical-align:middle;}
#gjSearch input[type="text"]{ vertical-align:middle; height:30px; line-height:30px; border:solid 1px #dfdfdf;}
#gjSearch select{ height:30px; line-height:30px; width:70px; vertical-align:middle;}
#gjSearch span{ margin-right:7px;}
.bigBtn{ background:#8ec31f; height:30px; line-height:30px; padding:0 12px; display:inline-block; border-radius:5px;}
.bigBtn:hover{ background:#73a508;}
/*------------------------弹出框样式---------------------------------*/
.mzsmbox{display:none;position:absolute;background:#fff; border:2px #b5b5b5 solid; padding:0 20px 30px; z-index:1002;overflow:hidden;}
.titlebg{height:45px; border-bottom:1px #dedede solid;font:14px/45px "宋体" ;display:block; font-weight:bold;}
.titlebg .b-close{width:17px;height:19px; background:url(../images/close.gif) no-repeat;margin-top:15px;cursor:pointer;float:right;}
.mzsmmian{padding-top:12px;color:#666;}
.czjy h4{font-size:14px;line-height:35px;}
.czjy p{line-height:18px;padding-bottom:12px;}
#gjkBji{ padding:10px 0;}
#gjkBji li{ width:230px; float:left; line-height:29px; height:29px; padding-top:18px; display:block;}
#gjkBji li.w2{ padding-left:110px; width:120px;}
#gjkBji li span{ float:left; width:110px; text-align:right; color:#666;}
#gjkBji li input{ float:left;}
#gjkBji li input[type="checkbox"]{ vertical-align:middle; height:27px; margin-right:3px;}
#gjkBji li input[type="radio"]{ float:none; margin-right:3px; vertical-align:middle;}
#gjkBji li select,#gjkBji li input[type="text"]{ width:110px; height:27px; line-height:27px; border:solid 1px #d2d2d2;}

.tableBtn2,.tableBtn3{ padding:0 20px;height:30px;  border-radius:5px;  display:inline-block; line-height:30px;}
.tableBtn2{background:#8ec31f;}
.tableBtn2:hover{ background:#a8d93f;}
.tableBtn3{ background:#a7a7a7;}
.tableBtn3:hover{ background:#7d7d7d;}
/*------------------------分页样式---------------------------------*/
.page{ background:#f5f5f5; height:22px; padding:10px; line-height:22px; margin-top:20px; } 
.page input{ border:solid 1px #dfdfdf; height:20px; line-height:20px; text-align:center; width:32px; vertical-align:middle;}
.page span{ margin:0 3px;}
.page select{ height:22px; line-height:22px; vertical-align:middle;}
.page img{ vertical-align:middle; margin:0 3px; cursor:pointer;}
/*------------------------公告---------------------------------*/
#newTxt{ padding:15px 30px 70px;}
#newTxt h2{ font-size:22px; padding:10px 0 15px; line-height:30px; border-bottom: dotted 1px #dfdfdf; margin-bottom:10px;}
#newTxt h4{ font-size:12px;}
#newTxt h2,#newTxt h4{ font-weight:normal;}
#newTxt p{ padding-top:25px; line-height:26px;}
#notice{ padding:10px 0;}
#notice li{ width:300px;  float:left; line-height:27px;  padding-top:14px;}
#notice li span,#release li span{ float:left; width:110px; text-align:right; padding-right:5px; color:#666;}
#notice li select,#notice li input[type="text"]{ width:180px; height:27px; line-height:27px; border:solid 1px #d2d2d2;}
#release li{width:350px;  float:left; line-height:35px;  padding-top:22px;}
#release li select,#release li input[type="text"]{ width:230px; height:33px; line-height:33px; border:solid 1px #d2d2d2;}
.tableAuto{ width:730px;  overflow-x:auto; min-height:300px; height:auto !important; padding-bottom:5px; }
/*------------------------属性维护---------------------------------*/
.shuxWh{ width:630px; margin:0 auto; padding:15px 0;}
.shuxWh h3{ background:#f0f0f0; height:40px; line-height:40px; font-weight:normal; text-indent:10px; margin-bottom:15px;}
.tianjiaBtn,.tianjiaBtn2{ display:inline-block; height:30px; line-height:30px;  padding-left:32px; cursor:pointer;}
.tianjiaBtn{background:#0085d0 url(../images/icon22.gif) no-repeat 10px center; width:53px;}
.tianjiaBtn2{background:#0085d0 url(../images/icon25.png) no-repeat 10px center; width:65px; padding-left:32px;}
.tianjiaBtn:hover,.tianjiaBtn2:hover{ background-color:#00669f;}
/*------------------------角色管理---------------------------------*/
#juesegl dl{ zoom:1; overflow:hidden; padding-top:14px; line-height:27px;}
#juesegl dt{ line-height:27px; width:110px; padding-right:5px; float:left; text-align:right; color:#666;}
#juesegl dd input[type="text"]{width:210px; height:25px; line-height:25px; border:solid 1px #d2d2d2;}
#juesegl dd{ float:left; width:230px;}
#juesegl dd span{ width:115px; float:left; display:block;}
#juesegl dd input[type="checkbox"]{ vertical-align:middle; line-height:27px; margin-right:3px;}
/*------------------------全系统管理员---------------------------------*/
.tableAuto2{ width:986px;  overflow-x:auto; }
#qxtBox{ border:solid 1px #e0e0e0; width:986px;  min-height:340px; height:auto !important; background:#fff; padding:10px 20px; margin-top:20px;}
#qxtBox h3{ height:32px; line-height:32px;  border-bottom:solid 1px #dfdfdf;}
/*------------------------系统登录---------------------------------*/
#loginIndex{  position:relative; position: absolute; top:50%; margin-top:-221px; margin-left:-330px; left:50%; width:660px; height:442px;}
#loginIndex h1{ padding:15px 0 25px;}
#loginBg{ background:url(../images/loginBg.png) no-repeat; width:658px; height:331px; margin:0 auto;}
#loginBg h2{ padding-top:8px; height:53px; line-height:53px; font-size:30px; font-weight:normal;}
#loginLeft{ margin-top:35px; width:390px; border-right:solid 1px #e4e4e4; }
#loginLeft dl{ width:320px; float:left; height:34px; padding-bottom:15px; line-height:34px;}
#loginLeft dt{ width:88px; float:left; text-align:right; padding-right:12px; color:#666; font-size:14px;}
#loginLeft dd{ width:218px; border:solid 1px #dfdfdf; height:32px; float:left;}
#loginLeft dd span{ width:35px; text-align:center; border-right:solid 1px #dfdfdf; padding-top:8px; float:left; height:24px;}
#loginLeft dd input{ border:0; height:32px; line-height:32px; width:175px; padding-left:3px; float:left; color:#999;}
#loginLeft p{ width:320px; float:left;}
#loginRight{ padding:68px 0 0 82px;}
#loginRight input{ padding:0 10px; height:78px;  background:#8ec31f; font:26px/78px "微软雅黑"; border-radius:5px; color:#fff;}
#gongjukaRight1{ width:762px;}

.color-red{color:red;}
/*****************************子系统新增****************************/
.tsmBtn,.tsmBtn2{   height:30px; line-height:30px; display:inline-block;}
.tsmBtn{background:#8ec31f; padding:0 10px;margin-left:10px;}
.tsmBtn2{ background:#0085d0; padding:5px 15px;}
#TSMbuzhou{ width:730px; padding:35px 0 10px;}
#TSMbuzhou dt{ width:110px; text-align:right; float:left;}
#TSMbuzhou dd{ float:left; width:620px;}
#TSMbuzhou dd ul li{ width:220px; height:300px; border:solid 2px #d5d5d5; margin:0 0 25px 25px; float:left;}
#TSMbuzhou dd ul li.hover{border:solid 2px #8ec31f;  background:url(../images/gou.gif) no-repeat right top;}/* ,#TSMbuzhou dd ul li:hover */
#TSMbuzhou dd ul li h3{ font:10px "微软雅黑" nomarl; color:#0085d0; padding:13px 0 5px;}
#TSMbuzhou dd ul li img{ margin:10px 0;}
.tsmTxt{ border-top:solid 1px #eee; margin:10px auto 0; width:180px; text-align:left; line-height:24px; padding:10px 0 0 15px; height:104px;overflow-y: hidden;display: block;word-break: break-all;word-wrap: break-word;}
#TSMbuzhou .cjcaozuo{ background:#edffc7; margin:1px; height:35px; line-height:35px;}
#TSMbuzhou .cjcaozuo span{ color:#d8dbd0; padding:0 15px;}
#tsmbuzhoucz{ background:#fbfbfb; border-top:solid 1px #e0e0e0; border-bottom:solid 1px #e0e0e0; margin:15px 0; height:40px; line-height:40px; color:#c6c6c6;}
#tsmbuzhoucz a{ padding:0 15px;}
.tsmBtn3,.tsmBtn4{ padding:0 15px;border-radius:5px; height:40px; line-height:40px; }
.tsmBtn3{background:#8fc320;}
.tsmBtn3:hover{ background:#73a508;}
.tsmBtn4{ background:#a7a7a7;}
.tsmBtn4:hover{ background:#7d7d7d;}
/* menu-active */
.color-red{color:red;}
/*--badge*/
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    /* font-size: 1.2rem; */
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    /* border-radius: .4rem; */
}
.primary {
    background-color: #0e90d2;
}
.secondary {
    background-color: #3bb4f2;
}
.success {
    background-color: #5eb95e;
}
.warning {
    background-color: #f37b1d;
}
.danger {
    background-color: #dd514c;
}
/* modal */
.mzsmbox table{
	margin-top: 10px;
}
.tform td{
    line-height: 29px;
    height: 29px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.tform input[type=text], .tform input[type=select], .tform select{
    line-height: 25px;
    height: 25px;
    width:100%;
}
/* .tform select{
    width:171px;
    height: 27px;
} */
.pull-right{
    display: block;
    text-align: right;
}
.pull-left{
    display: block;
    text-align: left;
     margin-left:5px;
}
.bold{
    font-weight: bold;
}


/*****************************订购资源****************************/
#productSearch{  width:700px; padding:5px 13px; border:solid 1px #dfdfdf;}
#productSearch h3{ font-size:14px; line-height:30px; color:#666;}
#productSearch dl{ border-bottom:dashed 1px #c6c6c6; padding:12px 0; width:700px; float:left;}
#productSearch dt{ width:80px; float:left; text-align:right;}
#productSearch dd{ width:615px; float:left; word-wrap: break-word; word-break: normal; padding:0; margin:0; overflow:hidden; padding-left:5px;}
#productSearch dd span{ float:left; white-space:nowrap; display:block; margin:0 10px 3px 0; cursor:pointer;}
#productSearch dd span a{padding:0 5px; }
#productSearch dd span input{ width:40px; height:20px; border:solid 1px #dfdfdf; color:#999;}
#productSearch dd span input[type="submit"]{ background:#8ec31f; color:#fff; }
#productSearch dd span.hover,#productSearch dd span a:hover,#productSearch dd span:hover{ color:#fff; background:#0085d0; display:block; float:left;}
#productSearch dd span.hover a,#productSearch dd span:hover a{ color:#fff;}
#productList{ width:730px; padding-bottom:30px; }
#productList dl{ height:280px; width:160px; float:left; padding:30px 40px 0;}
#productList dt{ width:160px; height:160px; float:left;}
#productList dd{ width:160px; float:left; padding-top:5px; text-align:center;}
#productList strong{ padding-right:8px;}
.productTitle{ line-height:17px; height:35px; overflow:hidden; padding:10px 0 4px;}
.font20{ font-size:20px;}
.joinCar{ background:url(../images/bg2.gif) repeat-x; height:24px; overflow:visible; padding:0 10px; border:0; font-size:12px;}
#productDetail{}
#productImg{ border:solid 1px #efefef; width:300px; height:300px;}
#productTxt{ padding-left:20px; width:408px; font-size:13px;}
#productTxt h3{ line-height:40px; font-size:16px; border-bottom:dashed 1px #dfdfdf; margin-bottom:5px;}
#productTxt p{ padding-top:12px;}
.shuliangText{ border:solid 1px #707070; height:20px; width:36px; text-align:center; line-height:20px;}
.buyBtn,.carBtn{  width:180px; height:38px; line-height:38px;}
.buyBtn{  background:#def3ff;}
.carBtn{ background:#0085d0;}
#detailMenu{ height:32px; width:730px; padding-top:25px; background:url(../images/bg3.gif) repeat-x bottom;}
#detailMenu li{ padding:0 15px; margin-right:5px; float:left; line-height:30px; height:30px; float:left; display:block; border:solid 1px #ccc; border-bottom-color: #285fc2; background:#fdfdfd; border-top-left-radius:3px; border-top-right-radius:3px; cursor:pointer; }
#detailMenu li.hover{ border:solid 1px #285fc2; height:30px; border-bottom: solid 1px #fff; font-weight:bold; }
.detailText{ width:700px; padding:15px;}
.detailCshu{ padding:10px 0; border-bottom:dashed 1px #dfdfdf; margin-bottom:20px;}
.detailCshu dl{ width:233px; float:left; height:24px; line-height:24px;}
.detailCshu dt{ float:left; width:80px; text-align:right;}
.detailCshu dd{ float:left; width:140px; height:24px; overflow:hidden; white-space:nowrap;text-overflow:ellipsis; -o-text-overflow:ellipsis; color:#999;}

.carTable th{ background:#f6f6f6; padding:10px 5px; border-bottom:solid 1px #ddd;}
.carTable td{ border-bottom:solid 1px #ddd; padding:15px 5px;}
.blueBtn{ border:0; background:#0085d0; width:97px; height:35px; line-height:35px; text-align:center; font-size:14px; margin-left:10px;}
.orderTitle{ border-bottom:solid 1px #efefef; line-height:32px; font-size:14px;}
.pay{ padding:20px 0 0 10px;}
.pay input[type="radio"]{ vertical-align:middle; line-height:60px;}
.pay img{ vertical-align:middle; margin-left:3px; border:solid 1px #eee; padding:5px; background:#fff;}
#carPay{ border:solid 1px #dfdfdf; border-top:solid 2px #79bc53; width:828px; margin-top:25px; padding:40px 100px; line-height:28px; background:#fff;}
#carPay img{ float:left; margin-right:30px;}
#payMoney{ background:#fdfeff; padding:20px 40px 40px; margin-top:10px;}
#payMoney h3{ border-bottom:solid 1px #e1e1e1; line-height:35px;}
.rightSolid{ border-right:1px solid #f1f1f1;}
.tableNone td{ padding:0 5px; border:0;}
.pt5{ padding-top:5px;}
.tableBlueBtn{ padding:0 7px;height:22px;  border-radius:5px; background:#0085d0; display:inline-block;}
.tableBlueBtn:hover{ background:#0094e7;}
#orderMenu{ border-bottom:solid 2px #e8e8e8; height:36px; padding-bottom:5px;}
#orderMenu li{ float:left; padding:0 15px 5px; background:url(../images/xian2.gif) no-repeat right; font:bold 14px/36px "" ; cursor: pointer;}
#orderMenu li.hover{ border-bottom:solid 2px #0085d0; color:#0085d0;}
.ptb10{ padding:10px 0;}
.orderSearch{ height:28px; padding:15px 0 0;}
.orderTxtBox{ border:solid 1px #bfbfbf; height:26px; width:300px;}
.garyBtn{  background:#f0f0f0; height:28px; padding:0 10px; color:#666;}
.mt20{ margin-top:20px;}
#orderDetail{ border:solid 1px #dfdfdf; background:#f9f9f9; padding:10px;}
.buttonStyle{
	padding: 0 20px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    line-height: 30px;
    background: #a8d93f;
    cursor: pointer;
    border: 0;
    text-align: center;
    overflow: visible;
    color:#fff;
    margin-right: 6px;
}